@if (profile) {
    <div class="table-info">
        <div class="img-name">

            <img [src]="profile.avatarUrl | imgUrl"
                 alt="avatar" 
                 class="profile-avatar">
            <div class="info-name">
                <strong>{{profile.firstName}} {{profile.lastName}}</strong>
                <span>{{profile.username}}</span>
            </div>
        </div>

        <div class="info-info">
            {{profile.city}}
        </div>

        <div class="info-tags">
            @for (skill of profile.stack; track skill) {
                <div class="skill-tag">{{skill}}</div>
            }
        </div>

        <div class="info-btns">
            <button class="btn">Подписаться ({{profile.subscribersAmount}})</button>
        </div>
    </div>
} @else {
    Не получен
}